:root {
    --font-size: 1rem;
    --button-padding: 5px;
    --line-height: 1.5;
    --header-card-color: #F5EFED;
}

button {
    padding: var(--button-padding);
    font-size: var(--font-size);
}

html, body {
    margin: 0;
    overflow-x: hidden;
    line-height: var(--line-height);
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    background-color: #0F0A0A;
}

.header {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--header-card-color);
}

.header .title {
    font-family: "Geist Pixel", sans-serif;
    font-size: 2.3rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "ELSH" 50.0;
}

.new-book {
    margin-left: 75%;
}

.side-bar {
    grid-column: 1 / 2;
    border: 1 px solid red;
}

#sidebar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.books {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, minmax(20%, 33%));
    grid-auto-rows: minmax(30%, min-content);
    gap: 3%;
    padding: 1rem;
}

.book-division {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    align-items: center;
    padding: 1rem;
    background-color: var(--header-card-color);
    font-size: var(--font-size);
    border: 1px solid transparent;
    font-size: 1.1rem;
    border-radius: 1rem;
}

.book-division-buttons {
    display: flex;
    gap: 1rem;
}

.modal {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    background-color: var(--header-card-color);
}

#modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#modal-form  p > input {
    width: 100%;
}

#modal-form div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20%;
}

button {
    cursor: pointer;
}