:root {
    --font-size: 1rem;
    --button-padding: 5px;
    --line-height: 1.5;
}

button {
    padding: var(--button-padding);
    font-size: var(--font-size);
}

html, body {
    margin: 0;
    overflow-x: hidden;
    line-height: var(--line-height);
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    background-color: #0F0A0A;
}

.header {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F5EFED;
}

.header .title {
    font-family: "Geist Pixel";
      font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "ELSH" 50.0;
}

.new-book {
    margin-left: 75%;
}

.side-bar {
    grid-column: 1 / 2;
    border: 1 px solid red;
}

#sidebar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.books {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, minmax(20%, 33%));
    grid-auto-rows: minmax(20%, 50%);
    gap: 3%;
}

.book-division {
    background-color: red;
    font-size: var(--font-size);
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: red;
}

